@page "/support"
@using SpendLess.Client.Services
@using SpendLess.Shared
@inject ITransactionService TransactionService
@inject NavigationManager NavigationManager
@inject ITicketService TicketService
@inject IDialogService DialogService


<div style="height: 100%; width: 100%; overflow: auto; display: flex; flex-direction: column; padding: 1rem 0;">
    @if (TicketService.Tickets is not null)
    {
        @foreach (Ticket ticket in TicketService.Tickets)
        {
            <MudCard @ondblclick="@(() => { NavigationManager.NavigateTo($"/ticket/{ticket.Id}"); })" Style="max-height: 100px; margin: 0 12rem 0.25rem 5rem; overflow: hidden; text-overflow:ellipsis;" Outlined="true">

                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Style="user-select: none; word-wrap:break-word;">@ticket.Title</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>
                    <MudText Style="user-select: none;">@ticket.Description</MudText>
                </MudCardContent>
            </MudCard>
        }
    }
</div>

<MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Style="position:absolute; z-index: 5; bottom: 3%; right: 3%;" OnClick="showDialog"/>

@code {

    protected override void OnInitialized()
    {
        TicketService.TicketsChanged += ((source, args) => StateHasChanged());
        TicketService.GetTickets();
    }

    private async void showDialog()
    {
        var options = new DialogOptions() { CloseButton = false, MaxWidth = MaxWidth.Medium, FullWidth = true };

        var parameters = new DialogParameters();

        parameters.Add("ContentText", "");
        parameters.Add("ButtonText", "Submit");
        parameters.Add("Color", Color.Primary);
        parameters.Add("IsForm", true);

        var dialog = DialogService.Show<TicketDialog>("Please specify your problem", parameters, options);

        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await TicketService.GetTickets();
        }
    }
}
