@page "/ticket/{Id:int}"
@using SpendLess.Shared
@using SpendLess.Client.Services
@inject ITicketService TicketService
@inject ITransactionService TransactionService
@inject NavigationManager NavigationManager

<h3>TicketView</h3>

<h2>Fetching Ticket with ID : @Id</h2>

@code {
    [Parameter]
    public int? Id { get; set; }

    Ticket ticket;

    protected override void OnInitialized()
    {
        TransactionService.GetIsAdmin();
        if (TransactionService.IsAdmin)
        {
            NavigationManager.NavigateTo("/");
        }

    }
}
