@page "/ticket/{Id:int}"
@using SpendLess.Shared
@using SpendLess.Client.Services
@inject ITicketService TicketService
@inject ITransactionService TransactionService
@inject NavigationManager NavigationManager


<div style ="height: 100%; width: 100%; overflow: auto; display: flex; justify-content: center;">
    @if (ticket is not null)
    {
        <MudTextField @bind-Value="TextValue" Variant="Variant.Outlined" Style="position: fixed; bottom: 20px; left: 50%; transform: translate(-50%, -50%); margin: 0 auto; min-width: 400px"></MudTextField>
    }
    else
    {
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" Style="position: absolute; top: 50%; bottom: 50%; left: 50%; right: 50%" />
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    Ticket ticket;

    public string TextValue { get; set; }

    protected override async void OnInitialized()
    {
        TicketService.TicketsChanged += ((source, args) => StateHasChanged());
        ticket = await TicketService.GetTicket(Id);
        StateHasChanged();
    }
}
